* {
    font-family: "Playwrite NZ Basic", cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

header{
    display: flex;
    justify-content: center;
}

main {
    margin: 1rem;
}

.search-div {
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 50rem;
}

.search-result {
    display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    text-align: center;
}

.result-card {
    flex: 1 1 45%;
    margin: 0.25em;
    padding: 0.5em;
    border: 1px solid var(--light-grey);
    max-width: 250px;
}

.result-card a {
    text-decoration: none;
}

footer {
    margin-left: 1rem;
}