* {
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
    ul{
        display: flex;
        list-style: none;
        margin-top: 1rem;
        li {
            margin-right: 1em;
            a {
                text-decoration: none;
                font-size: larger;
                &:hover {
                    color: aqua;
                }
            }
        }
    } 
}

h1 {
    margin: 1rem 0 0 1rem;
    color: aqua;
    &:hover{
        animation: pulse 2s infinite;
    }
}

@keyframes pulse {
  0% {
    text-shadow: 0 0 5px aqua;
  }
  50% {
    text-shadow: 0 0 20px aqua;
  }
  100% {
    text-shadow: 0 0 5px aqua;
  }
}

.search-bar {
    margin: 1rem;
    width: 35%;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}

.prompt {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}

.display {
    display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    text-align: center;
}

.movie-card {
    flex: 1 1 45%;
    margin: 0.25em;
    padding: 0.5em;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 2s ease;
    h2 {
        margin-bottom: 0.25em;
    }
    a img {
        transition: transform 0.5s ease;
        &:hover {
            transform: scale(1.04);
        }
    }
    &.show {
        opacity: 1;
    }
}

.movie-detail {
    position: relative;
    margin: auto;
    max-width: 50rem;
    border-radius: 10px;
    border: 1px solid;
    h3, p {
        margin: 1em;
    }
}

.add, .remove, .close-detail {
    text-decoration: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
}

.add, .remove {
    right: 40px;
}

.close-detail {
    right: 10px;
}

.message {
    position: absolute;
    top: 1rem;
    right: 30%;
    border-radius: 10px;
    padding: 1rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease, transform 0.8s ease;
    &.show {
        opacity: 1;
    }
}